<div class="below-header container">
  <div class="header">
    <div>
      <img src="assets/images/about.jpg" />
    </div>
    <div class="bio">
      <div class="name">I'm <strong>nirmal</strong></div>
      <div class="role">India based UI Developer</div>
    </div>
  </div>
  <div class="about">
    <div class="title">
      ABOUT ME
    </div>
    <div class="separator"></div>
    <div class="desc">
      <div class="tag-line">
        <div class="fa fa-quote-left quote"></div>
        <div>IF YOU CAN DESIGN ONE THING, YOU CAN DESIGN EVERYTHING.</div>
      </div>
      <div class="detail">
        I am a problem solver, an art enthusiast, and a holistic designer who is
        performing at the junction of design and crafting meaningful ideas. With
        a product specialist background, I understand how to put the user at the
        center of design. I do this by empathizing with the users and
        discovering their motivations, needs, and pain points. I possess two
        years of experience in a tech company, where I am working part-time as a
        web designer. I’m looking for full-time and freelance UI/UX designer
        positions in Berlin. I want to work with a team that is enthusiastic
        about creating user-centric projects. I believe the excitement of
        working with people in a close-knit group makes solving problems more
        manageable. I have the skills and experience of a seasoned designer and
        can’t wait to use them for the next opportunity. I can take a diverse
        responsibility that help me gain new skills and expertise.
      </div>
    </div>
  </div>
</div>
