<div class="below-header container">
  <div class="header">
    <div>
      <img src="assets/images/about.jpg"/>
    </div>
    <div class="bio">
      <div class="name">I'm <strong>nirmal</strong></div>
      <div class="role">India based UI Developer</div>
    </div>
  </div>
  <div class="about">
    <div class="title">
      ABOUT ME
    </div>
    <div class="separator"></div>
    <div class="desc">
      <div class="tag-line">
        <div class="fa fa-quote-left quote"></div>
        <div>IF YOU CAN DESIGN ONE SCALABLE, REUSABLE SYSTEM, YOU CAN DESIGN EVERYTHING.</div>
      </div>
      <div class="detail">
        <h6>
          I am an experienced Angular Java full stack developer.
          I possess a deep understanding of both front-end and back-end development.
        </h6>
        <p>
          Over the course of my career, I have developed a diverse set of skills in developing web applications that are
          robust, scalable, and secure. My experience includes creating user interfaces using Angular, developing
          server-side code using Java, integrating databases, and ensuring the proper functioning of the application as
          a whole.I have a good understanding of web application architecture, RESTful APIs, and design principles.
        </p>
        <p>
          In my previous roles, I worked on multiple banking web application that was used by thousands of customers
          daily. I was responsible for developing both the front-end and back-end of the application, ensuring seamless
          integration between the two.I also possess excellent problem-solving and analytical skills, which helped me to
          troubleshoot and debug issues in the application.
        </p>
        <!--<button type="button" class="btn btn-primary">
          Single Button
        </button>-->
        <a
          href="assets/files/Nirmal_Kumar_Sahoo_7Yr_Exp.docx"
          class="resume-btn"
        ><i
          class="fas fa-arrow-alt-circle-down icon-very-small margin-5px-right no-margin-left"
          aria-hidden="true"
        ></i
        >My Resume</a
        >
      </div>
    </div>
  </div>
  <div class="testimonials">
    <div class="title">TESTIMONIALS</div>
    <div class="sub-title">WHAT PEOPLE SAY</div>
    <div class="separator"></div>
    <div class="review">
      <div>
        <div class="review-comments">
          I was really happy to work with Nirmal together. Nirmal has an awesome
          character and incredible good knowledge and he has the strength to
          develop the tasks responsibly. He can be 100% relied on.
        </div>
        <div class="reviewer">
          <div><img src="assets/images/phillip.jpg"/></div>
          <div class="reviewer-detail">
            <div class="name">Philipp Januskovecz</div>
            <div class="position">Software Developer at s IT Solutions</div>
          </div>
        </div>
      </div>
      <div>
        <div class="review-comments2">
          Nirmal is having very good technical knowledge and ability to
          understand the business process. His one of the main quality is he can
          learn anything quickly and adapt to any technology .He is very sincere
          towards deliverables and very creative. I would love to work with him
          again in future.
        </div>
        <div class="reviewer">
          <div><img src="assets/images/ragil.jpg"/></div>
          <div class="reviewer-detail">
            <div class="name">Ragil Chandran</div>
            <div class="position">
              Staff Software Engineer at Walmart Global Tech
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="contact_form">
    <app-contact-form></app-contact-form>
  </div>
</div>
