<footer>
  <div class="social-links">
    <h4>Follow Me</h4>
    <a href="https://www.facebook.com/Nirmal.Ku.Sahoo" target="_blank"
    ><i class="fab fa-facebook-f"></i
    ></a>
    <a href="https://twitter.com/Nirmal_Ku_Sahoo" target="_blank"
    ><i class="fab fa-twitter"></i
    ></a>
    <a href="https://www.instagram.com/nirmal.kumar.sahoo/" target="_blank"
    ><i class="fab fa-instagram"></i
    ></a>
    <a href="https://www.linkedin.com/in/nirmalkumarsahoo/" target="_blank"
    ><i class="fab fa-linkedin-in"></i
    ></a>
    <a href="https://github.com/Nirmalkusahoo" target="_blank"
    ><i class="fab fa-github"></i>
    </a>
  </div>
</footer>
