<footer>
  <div>
    <h3>Papaya Boy</h3>
    <h2>Full Stack Developer</h2>
    <div class="social-links">
      <h4>Follow Me</h4>
      <a href="https://www.facebook.com/Nirmal.Ku.Sahoo" target="_blank"
        ><i class="fab fa-facebook-f"></i
      ></a>
      <a href="https://twitter.com/Nirmal_Ku_Sahoo" target="_blank"
        ><i class="fab fa-twitter"></i
      ></a>
      <a href="https://www.instagram.com/nirmal.kumar.sahoo/" target="_blank"
        ><i class="fab fa-instagram"></i
      ></a>
      <a href="https://www.linkedin.com/in/nirmalkumarsahoo/" target="_blank"
        ><i class="fab fa-linkedin-in"></i
      ></a>
    </div>
  </div>
</footer>
