@import "src/styles";

.qs-list-container {
  @extend .all-page;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
  font-size: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.page-title {
  margin-bottom: 20px;
}

.topic {
  font-size: 24px;
  margin-bottom: 10px;

  span {
    text-decoration: underline;
    cursor: pointer;
  }
}

a {
  color: inherit;
  background-color: transparent;
}

.pointer {
  cursor: pointer;
}
.mat-column-notes {
  width: 20%;
}
