.qs-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  position: relative;
  top: 32%;
  font-size: 16px;
  max-width: 85%;
}
.header{
  display: flex;
  justify-content: space-between;
}
.page-title {
  margin-bottom: 20px;
}

.topic {
  font-size: 24px;
  margin-bottom: 10px;

  span {
    text-decoration: underline;
    cursor: pointer;
  }
}

a {
  color: inherit;
  background-color: transparent;
}
