.folder-structure-container {
  display: flex;
  flex-direction: column;
  //justify-content: center;
  //align-items: center;
  height: 100vh;
  margin-left: 40%;
  margin-top: 15%;
}

.code-btn {
  margin-top: 40px;
  margin-left: 25px;
}
