.bg-image{
  background-image: url("../../../assets/images/home_bg.jpg");
  padding: 20em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left -229px;
}
.bg-image h1{
  font-size: 46px;
  position: relative;
  top: 238px;
}
.bg-image h2{
  font-size: 21px;
  position: relative;
  top: 215px;
}
