.page-btn{
  display: inline-block;
  text-align: center;
  width: 25px;
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 4px;
}

.active{
  background-color: aqua;
}
