<div *ngIf="folder" class="folder">
  <div (click)="isExpanded=!isExpanded">
    <span *ngIf="folder.isFolder">
    <span *ngIf="isExpanded else expand">-</span>
    <ng-template #expand>+</ng-template>
    </span>
    <span class="folder-name">
      {{ folder.name }}
      <mat-icon class="add-folder" [matTooltip]="'Add Folder'" matTooltipPosition="right" *ngIf="folder.isFolder"
                (click)="addFolder()">folder</mat-icon>
       <mat-icon class="delete-folder" [matTooltip]="'Delete Folder'" matTooltipPosition="right" *ngIf="folder.isFolder"
                 (click)="deleteFolder()">delete</mat-icon>
    </span>

  </div>
  <div *ngIf="folder.isFolder && isExpanded">
    <app-folder *ngFor="let childFolder of folder.children" [folder]="childFolder" (deleteFolderEvent)="deleteNestedFolder($event)">
<!--      <app-folder></app-folder>-->
    </app-folder>
  </div>
</div>

