.folder {
  padding-left: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  cursor: pointer;
  font-size: 30px;
}

.add-folder,
.delete-folder {
  height: 20px;
  width: 20px;
  margin-left: 10px;
}
