/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');


/**, *::before, *::after {
  box-sizing: border-box;
}*/

html, body {
  height: 100%;
}

body {
  margin: 0;
  //background: #222;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  min-height: 100vh;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

app-footer {
  background: #2f2f2f;
  color: #fff;
  margin-top: auto;
  width: 100%;
  min-width: 375px;
  z-index: 1;
}

.below-header {
  position: relative;
  top: 80px;
}

.title {
  flex-basis: 50%;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}

.separator {
  background-color: #ff214f;
  width: 100px;
  height: 1px;
  margin-top: 18px;
}
.all-page{
  display: flex;
  position: relative;
  top: 150px;
  max-width: 85%;
  min-height: 1000px;
}
//body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
