/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');


/**, *::before, *::after {
  box-sizing: border-box;
}*/

html{
  height: 100%;
}
body {
  margin: 0;
  background: #222;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  //min-height: 100vh;
  min-height: 100%;
}

app-footer{
  position: absolute;
  //bottom: 0;
  background: #2f2f2f;
  color: #fff;
  margin-top: 100px;
  width: 100%;
}
.below-header{
  position: relative;
  top: 80px;
}
